/* Calculator, Code By Clint Lorenzo */
body {
  display: grid;
  place-items: center;
  height: 100vh;
  height: 100svh;
  font-family: system-ui;
  background-color: var(--dark-Grayblack-background);
}
* {
  margin: 0;
  padding: 0;
  /* outline: 2px solid blueviolet; */
}
*:focus {
  /* for input */
  outline: 0 !important;
}
:root {
  /* background color for button */
  --Bg-Button-Gray: rgb(85, 85, 86);
  --Bg-Button-LightGray: rgb(113, 113, 114);
  --Bg-Button-DarkOrange: rgb(242, 164, 59);

  /* Hover Bg for button */
  --hover-lightGray: rgb(128, 128, 128);
  --hover-lightorange: rgb(255, 182, 92);

  /* ~ */
  --dark-Grayblack-background: rgb(67, 67, 68);
  --border-lightgray: rgb(67, 67, 68);
  --CssScan-BoxShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Real Code Starts Here 🗣️ */
main {
  width: 95%;
  max-width: 400px;
  height: 493px;
  display: grid;
}
.behind-button,
.container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.behind-button {
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;

  & button {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: var(--CssScan-BoxShadow);
    color: white;
    background: linear-gradient(
      319deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
  }
}
.container {
  background-color: var(--dark-Grayblack-background);
  box-shadow: var(--CssScan-BoxShadow);
  border-radius: 10px;
  z-index: 1;
}

.MacOS-Button {
  display: inline-flex;
  gap: 5px;
  padding: 10px;

  & .icon {
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transition: all 0.3s;
    }
  }

  & .close {
    background-image: url(button/1-close-1-normal.svg);

    &:hover {
      background-image: url(button/2-close-2-hover.svg);
    }
  }

  & .minimize {
    background-image: url(button/2-minimize-1-normal.svg);

    &:hover {
      background-image: url(button/2-minimize-2-hover.svg);
    }
  }

  & .maximize {
    background-image: url(button/3-maximize-1-normal.svg);

    &:hover {
      background-image: url(button/3-maximize-2-hover.svg);
    }
  }
}

.output-number {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: end;
  padding-bottom: 3px;
  height: 55px;
  width: 100%;

  & input {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-align: end;
    width: 100%;
    padding-right: 0.5rem;
  }
}

.button-container {
  display: grid;
  height: 401px;
  grid-template-columns: repeat(4, 1fr);

  & .zero {
    grid-column: 1 / 3;
    border-radius: 0 0 0 10px;
  }
  & .equal {
    border-radius: 0 0 10px;
  }

  /* Colors */
  & button {
    font-weight: bold;
    border: 1px solid var(--border-lightgray);
    font-size: 1.2rem;
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    border-radius: 5px;
    cursor: pointer;

    &:hover:not(.orange) {
      transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
      background-color: var(--hover-lightGray);
    }
    &:hover:not(.gray, .lightgray) {
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
      background-color: var(--hover-lightorange);
    }
  }
  & .gray {
    background-color: var(--Bg-Button-Gray);
  }
  & .orange {
    background-color: var(--Bg-Button-DarkOrange);
  }
  & .lightgray {
    background-color: var(--Bg-Button-LightGray);
  }
}

/* For button .maximize and .minimize (js toggle) */
.maximizeCalc {
  main {
    max-width: 500px;
    height: 60%;
  }
  .button-container {
    height: 85%;
  }
}
.minimizeCalc {
  main {
    height: 405px;
    max-width: 390px;
  }
  .button-container {
    height: 320px;
  }
}

/* For phones with a width of 320px */
@media (width <= 320px) {
  main,
  .container {
    height: 420px;
  }
  .button-container {
    height: 328px !important;
  }
}
