
/* Calculator, Code By Clint Lorenzo */
body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  height: 100svh;
  font-family: system-ui;
  background-color: var(--dark-Grayblack-background);
}
* {
  margin: 0;
  padding: 0;
  /* outline: 2px solid blueviolet; */
}
:root {
  /* background color for button */
  --Bg-Button-Gray: #555556;
  --Bg-Button-LightGray: #717172;
  --Bg-Button-DarkOrange: #f2a43b;
  /* Hover Bg for button */
  --hover-lightGray: grey;
  --hover-lightorange: #ffb65c;
  /* ~ */
  --dark-Grayblack-background: #434344;
  --border-lightgray: #434344;
  --CssScan-BoxShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* Real Code Starts Here 🗣️ */
main {
  width: 95%;
  max-width: 400px;
  height: 493px;
  display: -ms-grid;
  display: grid;
}
.behind-button, .container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}
.behind-button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.behind-button button {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: var(--CssScan-BoxShadow);
          box-shadow: var(--CssScan-BoxShadow);
  color: white;
  background: -o-linear-gradient(131deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: linear-gradient(319deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}
.container {
  background-color: var(--dark-Grayblack-background);
  -webkit-box-shadow: var(--CssScan-BoxShadow);
          box-shadow: var(--CssScan-BoxShadow);
  border-radius: 10px;
  z-index: 1;
}
.MacOS-Button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  padding: 10px;
}
.MacOS-Button .icon {
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.MacOS-Button .icon:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.MacOS-Button .close {
  background-image: url(button/1-close-1-normal.svg);
}
.MacOS-Button .close:hover {
  background-image: url(button/2-close-2-hover.svg);
}
.MacOS-Button .minimize {
  background-image: url(button/2-minimize-1-normal.svg);
}
.MacOS-Button .minimize:hover {
  background-image: url(button/2-minimize-2-hover.svg);
}
.MacOS-Button .maximize {
  background-image: url(button/3-maximize-1-normal.svg);
}
.MacOS-Button .maximize:hover {
  background-image: url(button/3-maximize-2-hover.svg);
}
.output-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 3px;
  height: 55px;
  width: 100%;
}
.output-number input {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  text-align: end;
  width: 100%;
  padding-right: 0.5rem;
}
.output-number input:focus {
  outline: 0 !important;
}
.button-container {
  display: -ms-grid;
  display: grid;
  height: 401px;
  grid-template-columns: repeat(4, 1fr);
}
.button-container .zero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  border-radius: 0 0 0 10px;
}
.button-container .equal {
  border-radius: 0 0 10px;
}
.button-container .gray {
  background-color: var(--Bg-Button-Gray);
}
.button-container .orange {
  background-color: var(--Bg-Button-DarkOrange);
}
.button-container .lightgray {
  background-color: var(--Bg-Button-LightGray);
}
.button-container button {
  font-weight: bold;
  border: 1px solid var(--border-lightgray);
  font-size: 1.2rem;
  color: white;
  -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
  -o-transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
  border-radius: 3.5px;
}
@media (width >= 768px) {
  .button-container button {
    cursor: pointer;
  }
}
.button-container button:focus:not(.orange), .button-container button:hover:not(.orange), .button-container button:focus:not(.gray, .lightgray), .button-container button:hover:not(.gray, .lightgray) {
  -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
  -o-transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
}
.button-container button:focus:not(.orange), .button-container button:focus:not(.gray, .lightgray) {
  outline: none;
  border: none;
}
.button-container button:focus:not(.orange) {
  background-color: var(--hover-lightGray);
}
.button-container button:focus:not(.gray, .lightgray) {
  background-color: var(--hover-lightorange);
}
.button-container button:hover:not(.orange) {
  background-color: var(--hover-lightGray);
}
.button-container button:hover:not(.gray, .lightgray) {
  background-color: var(--hover-lightorange);
}
.button-container button:active {
  opacity: 0.5;
}
/* For button .maximize and .minimize (js toggle) */
.maximizeCalc main {
  max-width: 500px !important;
  height: 60% !important;
}
.maximizeCalc .button-container {
  height: 85% !important;
}
.minimizeCalc main {
  height: 405px !important;
  max-width: 390px !important;
}
.minimizeCalc .button-container {
  height: 320px !important;
}
/* For phones with a width of 320px */
@media (width <= 320px) {
  main, .container {
    height: 420px !important;
  }
  .button-container {
    height: 328px !important;
  }
}
